/* sorteo-frontend/src/components/AddToBlacklist.css */

.add-to-blacklist-container {
  padding: 1.5rem;
  border-radius: 8px;
  width: 100%;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--neutral-bg);
}

.add-to-blacklist-container h4 {
  margin-top: -5px;
}

.add-to-blacklist-container input {
  width: calc(100% - 140px);
  padding: 10px;
  margin-right: 10px;
  border: 1px solid var(--neutral-border);
  border-radius: 4px;
  font-size: 1rem;
}

.add-to-blacklist-container button {
  padding: 10px 16px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.add-to-blacklist-container button:hover {
  background-color: var(--primary-light);
}