/* sorteo-frontend/src/components/AddToParticipants.css */

.add-to-participants-container {
    padding: 1.5rem;
    border-radius: 8px;
    width: 100%;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--neutral-bg);
}

.add-to-participants-container h4 {
    margin-top: -5px;
}

.input-row {
    display: flex;
    gap: 10px;
}

.input-row:nth-child(2) .form-group {
    width: 39%;
}

.input-row:nth-child(2) .form-group:first-child {
    width: 22%;
}

.form-group {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group input {
    padding: 10px;
    border: 1px solid var(--neutral-border);
    border-radius: 4px;
    font-size: 1rem;
    max-width: unset;
}

.add-to-participants-container button {
    padding: 10px 16px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    margin-top: 10px;
}

.add-to-participants-container button:hover {
    background-color: var(--primary-light);
}

.mandatory-note {
    margin: 10px 10px 0;
    font-size: 0.9rem;
    color: var(--neutral-disabled);
    display: flex;
    align-items: center;
}