/* sorteo-frontend/src/components/ListasCargadas.css */
.listas-container {
  background-color: #fff;
  padding: 24px;
  margin: var(--base-margin) auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: var(--font-family);
}

.botones {
  margin-bottom: 24px;
}

.listas-contenido {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.listas-contenido>div {
  overflow-x: auto;
}

.listas-contenido h3 {
  margin-bottom: 12px;
  font-size: 1.1rem;
}

/* Aseguramos que cada tabla tenga su propio espacio */
.table {
  margin-bottom: 24px;
}