/* sorteo-frontend/src/components/ScheduledSorteos.css */

.scheduled-container {
  background-color: var(--neutral-bg);
  padding: 24px;
  margin: 24px auto;
  max-width: 1000px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: var(--font-family);
}

.scheduled-container .acciones {
  gap: 8px;
}

.scheduled-container table.text button {
  padding: 8px !important;
}