.DS_Store
venv
__pycache__
db.sqlite3
.env
.env.development
.env.productions
staticfiles
_base
data
sorteo-frontend/build
build
sorteo-frontend/node_modules
node_modules
/node_modules/
**/node_modules/